#navbar{
    position: sticky;
}

.navbar{
    height: 64px;
    display: flex;
    top: 0;
    align-items: center;
    padding: 0px 20px;
    justify-content:space-between;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 2px lightgray;
    z-index: 2;
    background-color: white;
}


.navbar-title{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90deg, #3887B9 9.72%, #000000 109.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

.button-holder{
    display: flex;
    height: 100%;
}

.button{
    font-family: Futura;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 150px;
    height: 100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.button:hover{
    text-decoration: underline;
}
