.landing-page{
    height: 100vh;
    background-color: green;
    padding: 0px;
}

.landing-page-holder{
    width: 100%;
    overflow: hidden;
    height: 60%;
    background-image: url("../../Assets/hands.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}