.landing-page{
    height: 100vh;
    padding: 0px;
}

.landing-page-holder{
    width: 100%;
    overflow: hidden;
    height: 80%;
    background-image: url("../../Assets/hands.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 100px;
    color: white;
    background: linear-gradient(90deg, #a1d3f7 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-holder-landing{
    width: 420px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}

.landing-button{
    height: 56px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    font-size: 26px;
    border: 1px solid white;
}

.landing-button.signup{
    background-color: #3887b9;
    color: white;
}